@charset "utf-8";
#home-main {
  @include banxin();
  //   background: black;
}
//要轮播的图
#home-banner-nav {
  @include banxin();
  position: relative;
}
#main-banner {
  //   position: relative;
  width: 100%;
  overflow: hidden;
  height: 500px;
  margin: 0 auto;
}
.banner-box {
  left: -350px;
  width: 1920px;
  height: 500px;
  margin: 0 auto;
  position: absolute;
  background: lightgreen;
  z-index: 10;
  img {
    position: absolute;
    // margin: 0 auto;
    left: 0;
    top: 0;
    opacity: 0;
  }
  .select {
    opacity: 1;
  }
}
.banner-num {
  z-index: 15;
  overflow: hidden;
  position: absolute;
  top: 470px;
  left: 1050px;
  width: 300px;
  li {
    display: block;
    height: 8px;
    width: 8px;
    background: url(../img/banner-num.png) no-repeat left center;
    float: left;
    margin-left: 17px;
    border-radius: 4px;
    overflow: hidden;
  }
  .active {
    background-image: url(../img/banner-active-num.png);
  }
}

.nav-left {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 15;

  height: 500px;
  li {
    height: 60px;
    line-height: 60px;
    width: 226px;
    img {
      vertical-align: middle;
    }
    span {
      vertical-align: middle;
      height: 60px;
      font-size: 16px;
      color: #ffffff;
    }
    &:hover{
        background: red;
        .next-nav{
            display: block;
        }
    }
  }
}
.next-nav{
    display: none;
    position: absolute;
    left: 225px;
    top: 0;
    background: white;
    width: 480px;
    padding: 24px 40px 0;
}
